body{
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}
.clearfix{
    float: none;
    clear: both;
}
.header{
    padding: 50px 0;
    position: relative;
    z-index: 999;
    
}
.header .navbar{
    background-color: transparent !important; 
}
.header .navbar ul li a{
    color: #fff !important;
    font-family: 'Archivo', sans-serif;
    padding: 0.5rem 1.5rem !important;
}
.header .navbar a.phone{
    color: #000;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}
.header .navbar .navbar-collapse{
    justify-content: space-around;
}
.section .top{
    background-color: #1AB3F6;
    height: 300px;
    position: absolute;
    width: 100%;
    top: 0;
}
.section .form{
    position: relative;
    z-index: 999;
    margin-bottom: 50px;
}
.section .form .nav-pills{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 55px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2) ;
    position: relative;
    top: 10px;
}
.section .form .nav-pills .nav-link{
    background-color: #D1D5DB;
    color: #5B5B5B;
    margin: 0 10px;
}
.section .form .nav-pills .nav-link.active{
    background-color: #0E2225;
    color: #fff;
}
.section .form .tab-content{
    background-color: #fff;
}
.section .form .tab-content .tab-pane{
    padding: 50px;
}
.section .form .breadcrumb strong{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.section .form .breadcrumb strong a{
    color: #57B3C2;
    text-decoration: none;
}
.section .form h1{
    font-size: 52px;
    color: #000;
    font-weight: 600;
}
.section .form label{
    font-weight: 500;
    font-size: 14px;
    color: #111827;
    margin: 15px 0 5px;
}
.section .form label span{
    color: red;
}
.section .form .select{
    position: relative;
}
.section .form .select::before{
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 7px;
}
.section .form .select select{
    outline: unset;
    box-shadow: unset;
}
/* Customize the label (the container) */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px !important;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
  .radio:hover input ~ .checkmark {
    background-color: #efefef;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
    border: 1px solid #FC9618;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FC9618;
}
.section .form .g-recaptcha{
    padding: 20px 0;
}
.section .form button[type="submit"]{
    width: 100%;
    background-color: #1AB3F6;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
}
.section .form .panel{
    background-color: #FFF6E7;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}
.section .form .panel p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}
.section .form .panel p span{
    color: red;
}
.footer .footer-top{
    background-color: #112D4E;
    padding: 50px 0;
}
.footer .footer-top .img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer .footer-top .img-container img{
    height: auto;
}
.footer .footer-top a{
    color: #fff;
    background-color: #57B3C2;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}
.footer .footer-top p{
    color: #fff;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    text-align: right;
    margin: 10px 0 0;
}
.footer .footer-bottom{
    padding: 50px 0;
    background-color: #fff;
}
.footer .footer-bottom .links h2{
    font-size: 16px;
    font-weight: 600;
}
.footer .footer-bottom .links ul{
    margin: 15px 0 20px ;
}
.footer .footer-bottom .links ul li{
    padding: 5px 0;
}
.footer .footer-bottom .links ul li a{
    color: #000;
    font-size: 14px;
}
.footer .footer-bottom .links p{
    font-size: 14px;
}
.footer .footer-bottom a.contact{
    background-color: #1AB3F6;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.footer .footer-bottom ul.social{
    padding: 0;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.footer .footer-bottom ul.social li{
    display: block;
    padding: 0 15px;
}
.footer .footer-bottom ul.social li a{
    color: #000;
    text-decoration: none;
}
@media screen and (max-width: 1199px) {
    .header .navbar ul li a{
        padding: 0.5rem 1rem !important;
    }
    .footer .footer-top .img-container img{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 991px){
    .header .navbar>.container-fluid{
        display: block;
    }
    .header .navbar>.container-fluid>a{
        text-align: center;
        display: block;
    }
    .header .navbar ul li a {
        padding: 0.5rem !important;
        font-size: 14px;
    }
    .header .navbar a.phone{
        font-size: 14px;
    }
    
    .footer .footer-top .contact{
        text-align: center;
    }
    .footer .footer-top a{
        float: none;
    }
    .footer .footer-top .contact p{
        text-align: center;
    }
} 
@media screen and (max-width: 767px){
    .header .navbar .navbar-collapse{
        flex-flow: column;
    }
    .section .form .nav-pills .nav-link {
        margin: 0 5px;
    }
    .footer .footer-bottom{
        text-align: center;
    }
    .footer .footer-bottom .links ul li{
        display: block;
        position: relative;
    }
    .footer .footer-bottom .links ul li::before{
        content: "";
        width: 5px;
        height: 5px;
        background-color: #000;
        border-radius: 100%;
        position: absolute;
        top: 2px;
    }
}
@media screen and (max-width: 575px){
    .header .navbar>.container-fluid{
        display: flex;
    }
    .header .navbar .navbar-collapse{
        background-color: #0E2225;
    }
    .header .navbar a.phone{
        display: block;
        border-radius: 0;
    }
    .header .navbar .navbar-toggler{
        color: #fff;
        border: none;
        box-shadow: none;
        font-size: 28px;
    }
    .section .form .nav-pills .nav-link{
        font-size: 13px;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 410px){
    .section .form .nav-pills .nav-link {
        margin: 0 2px;
        font-size: 12px;
        padding: 0.2rem;
    }
    .section .form h1{
        font-size: 35px;
    }
}