body{
    font-family: 'Archivo', sans-serif;
    background-color: #F5F5F5;
    color: #000;
}
.clearfix{
    float: none;
    clear: both;
}
.section .top{
    background-color: #661F40;
    padding: 100px 0;
}
.section .top .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.section .top .logo a{
    text-decoration: none;
}
.section .top .logo a h1{
    color: #fff; 
    font-size: 40px;   
    font-weight: 600;
}
.section .top .logo a.contact{
    color: #FFAF16;
    font-size: 20px;
    font-weight: 600;
}
.section .top h2{
    color: #fff;
    font-size: 52px;
}
.section .top p{
    color: #fff;
    font-size: 22px;
}
.section .top ul{
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    padding-top: 30px;
    justify-content: space-between;
}
.section .top ul li{
    display: block;
    max-width: 40%;
    flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    position: relative;
}
.section .top ul li::before{
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    background-color: #FFB117;
    border-radius: 100%;
    left: -30px;
    top: 2px;
}
.section .top ul li h5{
    font-size: 17px;
    font-weight: 700;
}
.section .top ul li p{
    font-size: 14px;
}
.section .top .form{
    background-color: #fff;
    margin-top: 20px;
}
.section .top .form h2{
    background-color: #FEF0F0;
    padding: 20px;
    color: #661F40;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.section .top .form h2 i{
    font-size: 20px;
}
.section .top .form form{
    padding: 30px;
}
.section .top .form form h3{
    font-size: 22px;
    font-weight: 400;
}
/* Customize the label (the container) */
.section .top .form form label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.section .top .form form label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #767676;
}

/* On mouse-over, add a grey background color */
.section .top .form form label:hover input ~ .checkmark {
    background-color: #f5f5f5;
}

/* When the checkbox is checked, add a blue background */
.section .top .form form label input:checked ~ .checkmark {
    background-color: #661F40;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.section .top .form form label input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.section .top .form form label .checkmark:after {
    left: 5px;
    top: 0px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.section .top .form form button{
    background-color: #661F40;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}
.section .companies .col-xl-12{
    position: relative;
}
.section .companies .panel{
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -50px;
    width: 100%;
}
.section .companies .panel img{
    filter: grayscale(1);
    height: auto;
}
.section .training{
    padding: 200px 0 50px;
}
.section .training h2{
    font-size: 38px;
    font-weight: 400;
    
}
.section .training h2 strong{
    font-weight: 700;
}
.section .training p{
    font-size: 14px;
}
.section .training .panel{
    background-color: #fff;
    box-shadow: 0px 4px 170px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    height: 45%;
}
.section .training .panel .title{
    display: flex;
    align-items: center;
    padding: 0 15px 20px;
}
.section .training .panel .title i{
    font-size: 25px;
}
.section .training .panel.trainer .title i{
    color: #F16F69;
}
.section .training .panel.hours .title i{
    color: #FFB117;
}
.section .training .panel.certify .title i{
    color: #661F40;
}
.section .training .panel.fund .title i{
    color: #1AB3F6;
}
.section .training .panel .title h4{
    font-size: 17px;
    margin: 0;
    margin-left: 10px;   
}
.section .training .panel p{
    font-size: 14px;
    margin: 0;
}